.hero {
  background: url('../public/images/background/home_hero.jpeg') no-repeat center center;
  background-size: cover;

  a.download {
    background-color: rgba(0, 0, 0, 0.6);
    border: 0.5px solid white;

    &:hover {
      background-color: black;
    }
  }
}

.news {
  background: url('../public/images/background/news.jpeg') no-repeat center center;
  background-size: cover;

  .newstabs {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.features {
  background: url('../public/images/background/features.jpeg') no-repeat center center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.1);
}
