.teyvat {
  background: url('/images/background/teyvat.png') no-repeat center center;
  background-size: cover;
}

.mondstadt {
  background: url('/images/background/mondstadt.jpeg') no-repeat center center;
  background-size: cover;
}

.liyue {
  background: url('/images/background/liyue.jpeg') no-repeat center center;
  background-size: cover;
}

.inazuma {
  background: url('/images/background/inazuma.jpeg') no-repeat center center;
  background-size: cover;
}
